



<h1>Library</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>authors</th>
      <th>Abstract</th>
      <th>Publication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book.each do |book|%>
      <tr>
        <td><%= book.title%></td>
        <td><%= book.authors.map(&:full_name) %></td>
        <td><%= book.abstract%></td>
        <td><%= book.publication.name%></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>



    



<%= link_to 'New Publication', new_publication_path %>
